<header class="header">
	<div class="">
		{{>logo}}
	</div>

	<nav class="header_nav">
		<div class="header_nav_right">
			{{>nav list=header}}
		</div>
	</nav>
</header>

{{#with main}}
<div class="main">
	<img src="{{image}}" alt="Main image" class="main_image">
	<div class="main_content">
		<h1 class="main_heading">{{heading}}</h1>
		<p class="main_descriotion">{{descriotion}}</p>
		<a class="button main_button" href="{{href}}">{{button}}</a>
	</div>
</div>
{{/with}}
{{!-- вивели --}}

<main class="blog">
	{{#each featured}}

	{{> cardFeatured data=this}}
	{{/each}}
</main>

{{!-- вивели --}}



<div class="hr"></div>

<div class="form">
	<div class="form_content">
		<div class="form_action">
			{{#each actions}}
			<div class="form_button_container">
				<h3 class="form_title">{{heading}}</h3>
				<a class="button form_button" href="{{url}}">{{text}}</a>
			</div>
			{{/each}}
		</div>
	</div>
</div>




<div class="footer">
	<div>
		{{> logo}}
		<span class="footer_copyright">Copyright 2023-2024</span>
	</div>

	{{#each footer}}
	<div>
		<span class="footer_title">{{title}}</span>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}
</div>