{{#with data}}
<div class="card">
	<div class="card_image" style="background-image: url({{photo}})"></div>
	<h2 class="card_title">{{heading}}</h2>
	<p class="card_text">{{info}}</p>
	<a class="button card_button" href="{{linkUrl}}">{{linkText}}</a>
</div>
{{/with}}
{{!--
featured: [
{
heading: "Featured title",
info: "Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
probably just keep going until we run out of words.",
linkText: "Call to action",
linkUrl: "https://example.com/",
photo: "https://picsum.photos/64/64"
}, --}}